<div class="banner">
  <div class="item"><img src="<%= @static_file_prefix  %>images/buddy.jpeg" class="buddy"/></div>
  <div class="item"><span class="title">CodeBuddy</span><br/>See your Ruby stack come alive</div>
  <div class="link"><a href="http://github.com/patshaughnessy/code_buddy">about</a></div>
  <% if local_request? %>
    <div class="link"><a href="#" id='new_stack'>paste stack</a></div>
  <% end %>
</div>
