<div class="banner">
  <div class="item"><img src="images/buddy.jpeg" class="buddy"/></div>
  <div class="item"><span class="title">CodeBuddy</span><br/>a friendly place to see your code</div>
  <div class="link"><a href="http://github.com/patshaughnessy/code_buddy">about</a></div>
  <div class="link"><a href="/new">paste stack</a></div>
</div>
