<div class="banner">
  <div class="item"><img src="<%= @static_file_prefix  %>images/buddy.jpeg" class="buddy"/></div>
  <div class="item"><span class="title">CodeBuddy</span><br/>a friendly place to see your code</div>
  <div class="link"><a href="http://github.com/patshaughnessy/code_buddy">about</a></div>
  <div class="link"><a href="<%= @static_file_prefix  %>new">paste stack</a></div>
</div>
