<html>
<%= erb :header %>
<body>
  <%= erb :banner %>
  <div class="form">
    Paste your stack:
    <form method="post">
      <textarea name="stack" rows="40" cols="130" class="stack_form"></textarea><br/>
      <input type="submit" value="submit"/>
    </form>
  </div>
</body>
</html>
