<%= erb :header %>
<html>
<body>
  <%= erb :banner %>
  <br/>
  <div id="legend">
    commands:<br/>
    &#8593; move up the stack<br/>
    &#8595; move down the stack<br/>
    click to select a stack frame<br/>
  </div>
</div>
<ul id="stack"></ul>
<div id='code'></div>
<script src="<%= @static_file_prefix  %>javascripts/code_buddy.js" type="text/javascript"></script>
<script>
  var stack = new Stack(<%= @stack.to_json %>);
  var stackView = new StackView({model: stack});
  stackView.render();
  $(document).keydown(function(event) {
    return stack.view.changeSelectionOnArrow(event)
  })
</script>
</body>
</html>
